@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: 34 100% 95%;
  --foreground: 34 5% 0%;
  --card: 34 50% 90%;
  --card-foreground: 34 5% 10%;
  --popover: 34 100% 95%;
  --popover-foreground: 34 100% 0%;
  --primary: 34 88% 58%;
  --primary-foreground: 0 0% 100%;
  --secondary: 34 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -4 30% 85%;
  --muted-foreground: 34 5% 35%;
  --accent: -4 30% 80%;
  --accent-foreground: 34 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 34 5% 90%;
  --border: 34 30% 50%;
  --input: 34 30% 18%;
  --ring: 34 88% 58%;
  --radius: 0.5rem;
}

.dark {
  --background: 34 50% 5%;
  --foreground: 34 5% 90%;
  --card: 34 50% 0%;
  --card-foreground: 34 5% 90%;
  --popover: 34 50% 5%;
  --popover-foreground: 34 5% 90%;
  --primary: 34 88% 58%;
  --primary-foreground: 0 0% 100%;
  --secondary: 34 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: -4 30% 15%;
  --muted-foreground: 34 5% 60%;
  --accent: -4 30% 15%;
  --accent-foreground: 34 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 34 5% 90%;
  --border: 34 30% 18%;
  --input: 34 30% 18%;
  --ring: 34 88% 58%;
  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}